<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>속성 설정</h1>
    <input type="text" name="mock" th:name="userA"/>

    <h1>속성 추가</h1>
    - th:attrappend(뒤 붙이다,class="text large") = <input type="text" class="text" th:attrappend="class= ' large'"> <br/>
    - th:attrprepend(앞, class="large text") = <input type="text" class="text" th:attrprepend="class= 'large'"> <br/>
    - th:classappend(가장 많이 사용, 간결) = <input type="text" class="text" th:classappend="large"> <br/>

</body>
</html>