<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>URL 링크 @{...}</title>
</head>
<body>
  <h1>URL 링크</h1>
  <ul>
    <!--경로부분과, 데이터를 만드는 부분이 나뉘어져 있어서 유지보수 측면에서 좋다-->
    <li><a th:href="@{/hello}">basic url</a></li>
    <li><a th:href="@{/hello(param1=${param1}, param2=${param2})}">hello query param</a></li>
    <li><a th:href="@{/hello/{param1}/{param2}(param1=${param1}, param2=${param2})}">path variable</a></li>
    <li><a th:href="@{/hello/{param1}(param1=${param1}, param2=${param2})}">path variable + query parameter</a></li>

    <!--페이지 검사-->
    <!--    <li><a href="/hello">basic url</a></li>-->
    <!--    <li><a href="/hello?param1=data1&amp;param2=data2">hello query param</a></li>-->
    <!--    <li><a href="/hello/data1/data2">path variable</a></li>-->
    <!--    <li><a href="/hello/data1?param2=data2">path variable + query parameter</a></li>-->
  </ul>
</body>
</html>